.header {
  display: grid;
  grid-template-columns: 20% 40% 20% 20%;
  background-color: #0e1116;

  justify-content: center;
  align-items: center;
  font-size: 3em;
  margin-bottom: 10px;
  padding-left: 10px;
}
.header p {
  color: white;
}
.header span {
  color: white;
}

.header sup {
  color: white;
}

.money {
  font-size: 0.7em;
}

.multiplicatorbutton {
  font-size: 0.7em;
}

.main {
  display: grid;
  grid-template-columns: 20% 80%;
}

.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px;
}

/*pour mettre des images dans des cercles */
.round {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 3px solid white;
}

.logomonde {
  max-width: 150px;
  max-height: 150px;
  margin-bottom: 10px;
}

.id {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  background-color: #0e1116;
  color: white;
}

/** PRODUCT COMPONENT **/
.productlist {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.productlistleft {
  width: 50%;
}

.productlistright {
  width: 50%;
}
.roundprod {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #0e1116;
}

.logoprod {
  max-width: 128px;
  max-height: 128px;
}

.productComponent {
  margin: 10px;
  display: grid;
  grid-template-columns: 20% 80%;
  border: 1px solid gray;
  border-radius: 10px;
}

.leftside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.rightside {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.time {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
}

.quantite {
  width: 100px;
  height: 20px;
  border-radius: 10px;
  background-color: #0e1116;
  justify-content: center;
  text-align: center;
}

.quantite p {
  color: white;
}

.barstyle {
  height: 25px;
  width: 80%;
  border-radius: 10px;
  background-color: #0e1116;
}

.producttitle {
  font-size: 2em;
}

/** Buttons **/
.menubuttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  font-family: "MedievalSharp", cursive;
  text-decoration: none;
  color: #0e1116;
}

a:hover {
  border-bottom: 1px solid #111;
}

button:hover {
  cursor: pointer;
}

button {
  margin: 2px;
  background: transparent;
  outline: none;
  border: 2px solid #111;
  padding: 15px 50px;
  overflow: hidden;
  position: relative;
  font-weight: 800;
  width: 80%;
}

/*button:before (attr data-hover)*/
button:hover:before {
  opacity: 1;
  transform: translate(0, 0);
}

button:before {
  content: attr(data-hover);
  position: absolute;
  top: 1.1em;
  left: 0;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.5em;
  opacity: 0;
  transform: translate(-100%, 0);
  transition: all 0.3s ease-in-out;
}

/*button div (button text before hover)*/
button:hover div {
  opacity: 0;
  transform: translate(100%, 0);
}

button div {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 800;
  font-size: 1.5em;
  transition: all 0.3s ease-in-out;
}

/*** MODALS ***/

.modal {
  display: flex;
  justify-content: center;
  background-color: white;
  margin-top: 100px;
  overflow: auto;
}

.managersComponent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 15px;
}

.modalTitle {
  margin-bottom: 30px;
  font-size: 2em;
  text-align: center;
}

.managersList {
  display: flex;
  flex-direction: row;
}
